.bullets-wrapper {
  border: 1px solid #111;
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  padding: 20px;
}

.bullets {
  list-style: inside circle;
}

.bullets > li:after {
  content: "This is a bullet item!";
}
