.footer-links > li {
  display: inline-block;
}

.footer-links a {
  color: #111;
  position: relative;
  text-decoration: none;
}

.footer-links a:after {
  content: "";
  border-bottom: 8px solid #2e36d1;
  opacity: 0.5;
  position: absolute;
    left: 5px;
    right: 5px;
    bottom: -2px;
  transition: 0.25s;
  z-index: -1;
}

.footer-links a:hover:after {
  border-bottom: 10px solid #35c470;
  opacity: 0.9;
}
