.giphy-box {
  background-position: center;
  background-size: cover;
  border: 1px solid #111;
  overflow: hidden;
  width: 300px;
}

.giphy-box > img {
  display: block;
  width: 100%;
}

.unloaded, .fetching {
  box-sizing: border-box;
  padding: 20px;
}

.unloaded:after {
  content: "I don't have anything yet. Give me a random GIF!";
}

.fetching:after {
  content: "FETCHING";
}
