body {
  background-color: #EFEFEF;
  font-family: 'Cabin', sans-serif;
  position: relative;
}

body > * {
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 150px;
}

main {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  top: 150px;
  bottom: 50px;
  overflow-y: scroll;
}

main > * {
  margin: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 50px;
}
